main {
  display: flex;
  flex-flow: row;
}
article {
  flex: 80%;
}

article > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

article > ul > li {
  margin: 1em;
  border: 1px solid;
  padding: 1em;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 0px 4px;
}

aside {
  background-color: red;
  flex: 20%;
}
nav {
  display: block;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}
nav > a{
    display: inline-block;
    border: 0.1em solid rgb(179, 116, 0);
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 10px 40px;

}
footer {
  font-size: 0.8em;
  background-color: aquamarine;
}

header {
  display: flex;
}
@media all and (max-width: 640px) {
  main,
  #page {
    -moz-flex-flow: column;
    -webkit-flex-flow: column;
    flex-flow: column;
  }
  aside{
      order: 0;
  }
  article{
      order:1;
  }
}
