<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(${page.getID()},${page.getFullName()},~{::main})}">>
<main id="details">
    <article>
        <h1 th:text="${blogPost.getTitle()}"></h1>
        <p th:text="${blogPost.getText()}"></p>
        <a role="button" class="btn btn-warning" th:href="@{'/blog/'+${blogPost.getId()}+'/edit'}">Edit</a>
        <a role="button" class="btn btn-danger" th:href="@{'/blog/'+${blogPost.getId()}+'/delete'}">Delete</a>
    </article>
</main>
</html>



