<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="nav(currentPage)"
     class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li th:class="(${currentPage} == 0) ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="(${currentPage} == 'home') ? '#' : @{/}">Home</a>
                </li>
                <li th:class="(${currentPage} == 1) ? 'nav-item active' : 'nav-item'">
                    <p th:if="(${currentPage} == 1)" class="nav-link">New BlogPost</p>
                    <a th:if="(${currentPage} == 0)" class="nav-link" th:href="@{/blog/new}">New BlogPost</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="footer">
    <p>Copyleft CC-by 2018 by Enrico Bottani</p>
</footer>

</html>